body {
    width: 100%;
    height: auto;
}

#container-navbar {
    width: 90%;
    height: 70px;
    margin: auto;
    position: fixed;
    margin-left: 5%;
    background-color: #fff;
    /* border: 1px solid black; */
}

.topnav {
    width: 90%;
    height: 70px;
    margin-left: 5%;
    position: fixed;
    background-color: #fff;
}

/* .nav-logo img {
    width: 150px;
} */

.topnav a {
    float: left;
    display: block;
    color: #0C0E34;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .nav-item {
    margin-top: -55px;
    margin-left: 60%;
}

/* .active {
    background-color: #4CAF50;
    color: white;
} */

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #555;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #0C0E34;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {

    color: #555;


}

.dropdown-content a:hover {

    color: #555;


}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav {
        /* width: 100%; */
        height: 40px;
        margin-left: none;
        margin-top: -10px;
    }

    .topnav a.icon {
        float: right;
        display: block;


    }

    .topnav a {
        margin-top: 10px;
    }

    .topnav img {
        width: 90px;

    }

}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;

    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}



/* content 1*/
#container-content-1 {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

#container-content-1 {
    background-image: url(../Assets/img/bg-networking.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    background-attachment: fixed;

}



.headline {
    text-align: center;
    margin-top: 70px;


}

.headline h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: rgb(255, 232, 29);
    margin-top: -450px;

}

hr {
    width: 500px;
    height: 5px;
    background-color: #0C0E34;
    border: none;
}


/* content 2 */
/* #container-content-2 {
    width: 90%;
    height: 400px;
    margin: auto;
    /* border: 1px solid black; */



/* content 3 */
#container-content-3 {
    width: 90%;
    height: 500px;
    margin: auto;
    /* border: 1px solid black; */
}

.headline h2 {
    text-align: center;

}

.headline b {
    color: rgb(45, 9, 172);
}

.headline p {
    text-align: center;
}

.card {
    width: 300px;
    height: 350px;
    margin-top: 60px;
    margin-left: 55px;
    float: left;
    text-align: center;
    /* border: 1px solid black; */
}

/* content 4 */
#container-content-4 {
    width: 100%;
    height: 320px;
    margin: auto;
    background-color: rgba(236, 236, 236, 0.897);
    background-image: url(../Assets/img/bg-image-2.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
    background-attachment: fixed;
    /* border: 1px solid black; */
}

.headline-4 h2 {
    text-align: center;
    color: rgb(245, 243, 243);
    margin-top: 100px;
    font-size: 50px;

}

.content-1 img {
    float: left;
    margin-left: 270px;
    text-align: center;
}

.content-1 a {
    width: 80px;
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    background-color: hsl(44, 100%, 62%);
    border: 2px solid #0C0E34;
    color: #0C0E34;
    border-radius: 10px;
    margin-left: -165px;
    position: relative;
    bottom: -170px;
}

.content-1 a:hover {
    background-color: #0C0E34;
    color: #fff;
    border: 2px solid hsl(44, 100%, 62%);
}



.content-2 img {
    float: left;
    margin-left: 280px;
    margin-top: 25px;
    text-align: center;
}

.content-2 a {
    width: 80px;
    height: 20px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    background-color: #0C0E34;
    color: #fff;
    border-radius: 10px;
    margin-left: -150px;
    position: relative;
    bottom: -150px;
    border: 2px solid hsl(44, 100%, 62%);
}

.content-2 a:hover {
    background-color: hsl(44, 100%, 62%);
    border: 2px solid #0C0E34;
    color: #0C0E34;
    border: 2px solid #0C0E34;
}



#container-footer {
    width: 90%;
    height: 400px;
    margin: auto;
    /* border: 1px solid black; */
}

.footer-content {
    width: 300px;
    height: 200px;
    margin-left: 20px;
    margin-top: 80px;
    float: left;
    margin-left: 50px;
    /* border: 1px solid black; */
}

.footer-content img {
    margin-top: 0px;

}

.footer-content .deskripsi p {
    margin-top: -10px;
    margin-left: 20px;
}

.footer-content h3 {
    color: #0C0E34;
}

.footer-content a {
    display: block;
    padding: 5px;
    color: gray;
    text-decoration: none;
}

.footer-content a:hover {
    color: rgb(73, 73, 73);
}

#email-subs {
    width: 300px;
    height: 30px;
    margin-left: 350px;
    margin-top: 20px;
}

button {
    width: 100px;
    height: 45px;
    background-color: #0C0E34;
    color: #fff;
}

button:hover {
    color: #0C0E34;
    background-color: rgba(236, 236, 236, 0.897);

}


/* hak cipta */

.hakcipta {
    text-align: center;
    padding: 10px;
    background-color: rgba(236, 236, 236, 0.897);

}

.hakcipta p {
    color: #0C0E34;
}

.hakcipta p a {
    text-decoration: none;
    color: rgb(18, 21, 71);
}

.hakcipta p a:hover {
    color: gray;
}



/* CSS EEBOOK */

#container-ebook-1 {
    width: 90%;
    height: 200px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    border: 1px solid black;
}

/* CSS ARTIKEL */

#container-artikel-1 {
    width: 90%;
    height: 200px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    border: 1px solid black;
}

/* CSS PROJECT */

#container-project-1 {
    width: 90%;
    height: 200px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    border: 1px solid black;
}